BasedOnStyle: Google
ColumnLimit: 120
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true

